<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @client.correo %>
</p>

<p>
  <strong>Mascotas:</strong>
  <ul>
    <% @client.pets.each do |pet| %>
      <strong><%= pet.name %></strong>
      <li><%= pet.max_height %></li>
      <li><%= pet.max_weight %></li>
    <%end%>
</ul>
  
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
